/* Global styles */

html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
  }
  
  /* Navigation bar styles */
  
  .navbar {
    list-style-type: none;
    overflow: hidden;
    position: active;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    background-color: #333; /* Added background color */
  }
  
  .navbar li {
    float: left;
    margin: 0 10px;
  }
  
  .navbar li a {
    display: block;
    text-decoration: none;
    color: #fff; /* Changed text color to white */
    text-align: center;
    padding: 10px 15px;
    font-size: 18px; /* Increased font size */
  }
  
  .navbar li a:hover {
    background-color: #666;
    color: #fff;
  }
  
  /* Header styles */
  
  .header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-container img {
    height: 5px;
    width: auto;
  }
  
  .header-item:nth-of-type(1) h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header-item:nth-of-type(1) h3 {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight: normal;
  }
  
  .header-item:nth-of-type(2) button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  .header-item:nth-of-type(2) button:hover {
    background-color: #666;
    color: #fff;
  }
  
  /* About styles */
  
  .about {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about h2 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
  }
  
  .about iframe {
    margin-top: 20px;
  }
  
  .about p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Data styles */
  
  .data {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .data h3 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
  }
  
  .data img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
  }
  
  .data h4 {
    margin: 20px 0 0;
    font-size: 20px;
    font-weight: normal;
  }
  
  .data ul {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* News styles */
  
  .news {
    background-color: #fff;
    padding: 20px;
  }
  
  .news h2 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
  }
  
  .news a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .news a:hover {
    color: #666;
  }
  
  .news article {
  max-width: 500px;
  }
  
  .news h2 {
  font-size: 32px;
  }
  
  .news h3 {
  font-size: 24px;
  }
  
  .news p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 500px;
  }
  
  .footer {
  padding: 20px;
  font-size: 16px;
  }
  
  /* Add style to button */
  #theme-button {
    font-family:Cursive;
    text-decoration:underline;
    color:red;
    padding:20px;
    border:#333;
    border-width:thick;
    
    
  }
  
  /* Customize Dark Mode Theme */
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .dark-mode .navbar {
    background-color: #1a1a1a;
  }
  
  .dark-mode .navbar li a {
    color: #cccccc;
  }
  
  .dark-mode .navbar li a:hover {
    background-color: #333333;
    color: #ffffff;
  }
  
  .dark-mode .header-container {
    background-color: #1a1a1a;
  }
  
  .dark-mode .header-item:nth-of-type(2) button {
    background-color: #cccccc;
    color: #333333;
  }
  
  .dark-mode .header-item:nth-of-type(2) button:hover {
    background-color: #333333;
    color: #ffffff;
  }
  
  .dark-mode .about {
    background-color: #333333;
  }
  
  .dark-mode .data {
    background-color: black;
  }
  
  .dark-mode .news {
    background-color: #333333;
  }
  
  .dark-mode .news a {
    color: #cccccc;
  }
  
  .dark-mode .news a:hover {
    color: #999999;
  }
  /* for the form for petition */
  
  .petition-container {
    display: flex;
    flex-direction: row;
    gap:20px;
    width:100%;
    padding-bottom: 50px;
  }
  
  .petition-para {
    width:55%;
    padding-right:10px ;
  }
  .signatures {
    width:45%;
    padding-right:10px
  }
  
  /*form validation */ 
  .error {
    border-style: solid;
    border-width: 4px;
    border-color: red;
    background:pink;
  }
  
  .revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .revealable.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  